.box{
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.box:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.35s ease 0s;
}
.box:hover:before{
    opacity: 1;
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.box .box-content:before,
.box .box-content:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.7s ease 0s;
}
.box .box-content:before{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(0, 1);
    transform-origin: 0 0 0;
}
.box .box-content:after{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1, 0);
    transform-origin: 100% 0 0;
}
.box:hover .box-content:before,
.box:hover .box-content:after{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.15s;
}
.box .title{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin: 15px 0;
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
    transition: transform 0.5s ease 0s;
}
.box:hover .title{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.box .post{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    padding: 10px;
    background: #d79719;
    opacity: 0;
    border-radius: 0 19px 0 19px;
    transform: translate3d(0px, -50px, 0px);
    transition: all 0.7s ease 0s;
}
.box:hover .post{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-delay: 0.15s;
}
.box .icon{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.7s ease 0s;
}
.box:hover .icon{
    bottom: 20px;
    opacity: 1;
    transition-delay: 0.15s;
}
.box .icon li{
    display: inline-block;
}
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 0 16px 0 16px;
    font-size: 14px;
    color: #fff;
    margin-right: 5px;
    transition: all 0.4s ease 0s;
}
.box .icon li a:hover{
    background: #d79719;
    border-color: #d79719;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}
